.PileTable {
    border-collapse: collapse;
    border-spacing: 0;
    padding:0;
    margin:0;
}

.PileTR{

    border-collapse: collapse;
    padding:0;
    margin:0;
  }

  .Dragging{
      position: absolute;
  }

  .Table {
      width:100%;
      height:100%;
      background-color: aqua;
      position: absolute;
  }